* {
  box-sizing: border-box;
}

h3 {
  text-align: center;
  margin: 3%;
}

.buscar {
  margin-top: 20px;
  margin-left: 100px;
  width: 200px;
  margin-bottom: 3%;
}
.contPrincipal {
  width: 100%;
  height: 100vh;
  background-color: #31405c;
}
.filaEncabezados,
.filaHuesped {
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  color: #31405c;
  height: auto;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
img.btno {
  width: 20px;
  height: auto;
  cursor: pointer;
  display: grid;
  margin-left: 30px;
  align-items: center;
}
.historial {
  margin-top: 5%;
}

.hhistorial {
  background-color: #31405c;
}
.buton {
  margin: 2%;
  width: 90px;
  height: 25px;
  background-color: #84a8f1;
  border: none;
  border-radius: 30%;
  color: white;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.buton:active {
  transform: scale(0.95);
}
